body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px 0px;
  border-radius: 10px;
}
header {
  border-bottom: 1px solid #f9f7fe;
  color: #f9f7fe;
  padding: 0 0 30px 0;
}
.search-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}
.search-button {
  background-color: #d7acd4;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: 0 0 0 0.6;
}
